<!DOCTYPE html>
<html>
    <head>
        <title>Menu</title>        
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />        
    <link href="/Shared/Style.css" rel="stylesheet" type="text/css" />
    <!-- Bootstrap -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" />   
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet" />
    <link href="http://fonts.googleapis.com/css?family=Abel|Open+Sans:400,600" rel="stylesheet" />    
    </head>
    <body>     
        <br />
        <div id="centro">
         <div class="container">
	        <div class="row">
		        <div class="col-sm-4 col-md-4 user-details">            
                    <div class="user-image">
                        <img src="/Shared/img001.jpg"  width='75' height='109' alt="Jason Alvarado" title="Jason Alvarado" class="img-circle">
                    </div>
                    <br />
                    <div class="user-info-block">
                        <div class="user-heading">
                            <h3>Jason Alvarado</h3>
                            <span class="help-block">San Carlos, CR</span>
                        </div>
                        <ul class="navigation">
                            <li class="active">
                                <a data-toggle="tab" href="#information">
                                    <span class="glyphicon glyphicon-user"></span>
                                </a>
                            </li>                    
                            <li>
                                <a data-toggle="tab" href="#email">
                                    <span class="glyphicon glyphicon-envelope"></span>                            
                                </a>
                            </li>  
                            <li>
                                <a data-toggle="tab" href="#recommend">                            
                                    <span class="glyphicon glyphicon-ok"></span>
                                </a>
                            </li>                   
                        </ul>
                        <br />
                        <div class="user-body">
                            <div class="tab-content">
                                <div id="information" class="tab-pane active">
                                    <h4>Personal Information</h4>
                                    <br />
                                    <h6>Phone:    8654 6540</h6>
                                    <h6>Bird Day: 13/03/89</h6>
                                    <h6>E-mail:   j-alvarado.89@hotmail.com</h6>                                    
                                </div>
                                <div id="settings" class="tab-pane">
                                    <h4>Settings</h4>
                                </div>
                                <div id="email" class="tab-pane">
                                    <h4>Send Message</h4>
                                </div>
                                <div id="events" class="tab-pane">
                                    <h4>Events</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
	        </div>
        </div>

        </div>   
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://code.jquery.com/jquery.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="js/bootstrap.min.js"></script>
    </body>
</html>
