@{
    var eMailSent = false;
    var errorMessage = "";
    if (IsPost)
    {
        eMailSent = true;
        var eMailSubject = "Asunto vacío";
        var eMailMessage = Request["Message"];
        var mail = Request["Email"];
        
        try {
            
        WebMail.SmtpServer = "smtp.hotmail.com";
        WebMail.SmtpPort = 587;
        WebMail.EnableSsl = true;
        WebMail.UserName = "Jason A.";
        WebMail.From = "tpizo@hotmail.com";
        WebMail.Password = "legolas2416";
        WebMail.Send(to: mail, subject: eMailSubject, body: eMailMessage, isBodyHtml: true);
        }
        catch (Exception ex) {
            eMailSent = false;
            errorMessage = ex.Message;
            }
    }
}

@{
    Layout = "/Shared/_Layout.cshtml";  
}
<html>
    <head>
        <title>Web Site</title>
        <style type="text/css">
            .navigation li {float: left; margin: 0; padding: 0;}
            .navigation li a {padding: 20px 30px; float: left;}
            .navigation li.active a {background: #428BCA; color: #fff;}
            .get-in-touch {position: relative;margin: 0 auto;padding: 30px;max-width: 370px;border-radius: 2px;}
            .get-in-touch input[type=text],.get-in-touch input[type=email], .get-in-touch textarea {background: rgb(235, 241, 245);color: rgb(36, 39, 41);}
            .get-in-touch  input:focus, .get-in-touch  textarea:focus {outline: 0;background: #FFF;}
        </style>
    </head>
    <body>
        <div style="margin-right: auto; margin-bottom:0; margin-left:34%; margin-top:5%">
            <ul class="navigation">
                      <li >
                      <a data-toggle="tab" href="/Default.cshtml">
                         <span class="glyphicon glyphicon-user"></span>
                      </a>
                      </li>                    
                      <li class="active">
                         <a data-toggle="tab" href="/View/Contact.cshtml">
                      <span class="glyphicon glyphicon-envelope"></span>                                                                
                         </a>
                      </li>  
                      <li>
                         <a data-toggle="tab" href="/View/Recommend.cshtml">                            
                      <span class="glyphicon glyphicon-ok"></span>
                         </a>
                      <li>
                         <a data-toggle="tab" href="/View/RecoView.cshtml">                            
                      <span class="glyphicon glyphicon-book"></span>
                         </a>
                </li>                   
             </ul>
        </div> 
        <br /><br />
       <div class="container">
    <div class="row">
        <div class="col-mid-4">
            <form method="POST">
            <div class="get-in-touch">
                <h3 class="text-center">
                    Contact</h3>
                <div class="form-group">
                    <input type="text" class="form-control" id="name" name="Name" placeholder="Name" required/>
                </div>
                <div class="form-group">
                    <input type="email" class="form-control" id="email" name="Email" placeholder="Email" required/>
                </div>
                <div class="form-group">
                    <textarea class="form-control" rows="3" name="Message" placeholder="Message" required></textarea>
                </div>
                 <input type="submit" value="Contactar" class="btn btn-danger btn-sm btn-block" role="button">
            </div>
            </form>            
        </div>
    </div>
</div>  
            @{if (eMailSent)
              {
                @Html.Raw("<script>alert('CORRECTO\\nMensaje enviado ');</script>")
              }
            }
            @{if(errorMessage != "")
              {
                @Html.Raw("<script>alert('ERROR\\nNo se ha podido enviar el mensaje ');</script>")
              } 
            }           
    </body>
</html>

     
     