<!DOCTYPE html>
<html>
    <head>
        <title>Web Site</title>
        
    <link href="/Shared/Style.css" rel="stylesheet" type="text/css" />
    <!-- Bootstrap -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" />   
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet" />
    <link href="http://fonts.googleapis.com/css?family=Abel|Open+Sans:400,600" rel="stylesheet" />  
    </head>
    <body>           
        <br />
        <div id="centro">
         <div class="container">
	        <div class="row">
		        <div class="col-sm-4 col-md-4 user-details">            
                    <div class="user-image">
                        <img src="/Shared/img001.jpg"  width='75' height='109' alt="Jason Alvarado" title="Jason Alvarado" class="img-circle">
                    </div>
                    <div class="user-info-block">
                        <div class="user-heading">
                            <h3>Jason Alvarado</h3>
                            <span class="help-block">San Carlos, CR</span>
                        </div>                                                                  
                    </div>
                </div>
	        </div>
        </div>
        </div>         
        @RenderBody()
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://code.jquery.com/jquery.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="js/bootstrap.min.js"></script>
    </body>
</html>
